# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

# Platform Services team
* @LN-Zap/product-platform-services-backend